footer, footer a {
    color: var(--light);
}

.footer-info {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info > div {
    width: 40%;
}

.info nav a {
    display: block;
    width: 100%;
}

.footer-copyright {
    text-align: center;
    background-color: var(--dark);
}