footer, footer a {
    color: var(--light);
}

.footer-info {
    display: flex;
    justify-content: center;
}

.footer-info .info {
    display: flex;
    flex-wrap: wrap;
}

.footer-info .info > div {
    width: 50%;
}

.footer-info .info nav a {
    display: block;
    width: 100%;
}

.footer-info .info nav a:hover {
    font-weight: 700;
    transition: 200ms;
}

.footer-copyright {
    text-align: center;
    background-color: var(--dark);
}