header {
    display: flex;
    position: sticky;
    top: 0;

    background: var(--background);
    background-size: cover;

    justify-content: space-between;
    align-items: center;

    font-family: var(--bodyFont);
    color: var(--light);
}

header nav a {
    text-transform: uppercase;
    color: var(--light);
}

header nav a.current-page {
    font-weight: 600;
}