.bg-white {
    color: var(--dark);
    background-color: var(--light)
}

.first-section {
    display: flex;
    justify-content: center;
}

.first-section h1 {
    font-weight: 400;
}

.first-section h1 span {
    font-weight: 600;
}

.first-section .agende-agora a {
    display: inline-flex;
}

.first-section .saiba-mais {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    background: var(--background);
}

.first-section .saiba-mais a {
    color: var(--light);
}