.bg-white {
    color: var(--dark);
    background-color: var(--light)
}

.first {
    display: flex;
    justify-content: space-between;
}

.first h1 {
    font-weight: 400;
}

.first .agende-agora a {
    display: inline-flex;
}

.first .saiba-mais {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    background: var(--background);
}

.first .saiba-mais a {
    color: var(--light);
}

.second {
    display: flex;
    justify-content: center;
    align-content: center;
}

.third h2 {
    color: var(--light);
}

.third article {
    background-color: var(--light);
}

