@media only screen and (max-width: 576px) {
    .container {
        margin: auto;
        width: 80vw;
    }

    header {
        display: flex;
        align-content: center;
        height: 80px;
    }

    header .container {
        height: 70%;
    }

    header img {
        height: 100%;
    }

    header nav {
        display: none;
    }

    main section {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1400px) {

}