header {    
    padding: 1rem 10rem;

    font-size: 1rem;
}

header img.icon {
    width: 40px;
    height: 40px;
}

header nav a {
    padding: 0.25rem 0.75rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

section img {
    width: 10rem;
}

.first {
    height: 30rem;
    padding: 10rem;
}

.first h1 {
    width: 21rem;

    font-size: 3rem;
}

.first .agende-agora {
    padding: 2rem 0;
    font-size: 1.5rem;
}

.first .agende-agora .text {
    padding-left: 1rem;
}

.first .left img {
    width: 5rem;
}

.first .right img {
    width: 33em;
    margin: -6rem;
}

.first .saiba-mais {
    padding: 1rem 3rem;
    border-radius: 5rem;
    font-size: 2rem;
}

.second {
    padding: 10rem;
}

.second img {
    width: 30rem;
}

.third {
    padding: 0 10rem 5rem 10rem;
}

.third h2 {
    font-size: 3rem;
}

.third article {
    padding: 2rem;
    border-radius: 2rem;
}

.third article p {
    font-size: 1.2rem;
}

.copyright {
    height: 4rem;
}

@media only screen and (min-width: 576px) {
}